<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="TargetTraining_CustomizedReport::menu_items" title="Customize Report Menu Items">
                    <resource id="TargetTraining_CustomizedReport::item_1" title="Customize Report Menu Item 1"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
